.pre-footer {
  position: relative;
  padding: 100px 80px;
  background-color: #f4f4f4;
  text-align: center;

  @media (max-width: 991px) {
    padding-right: 60px;
    padding-left: 60px; 
  }

  @media (max-width: 767px) {
    padding: 50px 20px;
    text-align: left;
  }
}

.w-form {
  margin: 0 0 15px;
}

.form {
  display: block;
  max-width: 600px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;

  @media (max-width: 767px) {
    margin-top: 30px;
    text-align: left;
  }
}

.w-input {
  display: block;
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}

.field {
  display: inline-block;
  height: 44px;
  max-width: 380px;
  margin-bottom: 0;
  padding-right: 0;
  padding-left: 0;
  float: left;
  border-top-style: none;
  border-right-style: none;
  border-bottom-width: 1px;
  border-bottom-color: #ccc;
  border-left-style: none;
  border-radius: 0;
  background-color: #f4f4f4;
  font-size: 14px;

  &:focus {
    border-bottom-color: $base;
  }

  @media (max-width: 767px) {
    margin-bottom: 30px;
  }
}

.w-button {
  display: inline-block;
  padding: 12px;
  background-color: black;
  color: $white;
  border: 0;
  line-height: inherit;
}

.button {
  display: inline-block;
  height: 44px;
  margin-top: 25px;
  padding: 11px 35px;
  border-radius: 50px;
  background-color: $base;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  font-family: $font-family;
  color: $white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    background-color: rgba(98, 147, 205, 0.8);
  }

  &.form-button {
    margin-top: 0;
    // margin-left: 50px;
    float: right;

    @media (max-width: 767px) {
      display: block;
      margin-left: 0px;
    }
  }
}

.success {
  height: 44px;
  border-radius: 50px;

  @media (max-width: 767px) {
    padding-right: 35px;
    padding-left: 35px;
    float: left;
  }
}

.w-form-done {
  position: absolute;
  width: 600px;
  display: none;
  padding: 10px;
  color: $white;
  bottom: 40px;
  opacity: 0;
  background-color: lighten($green, 20%);
}

.w-form-fail {
  display: none;
  margin-top: 10px;
  padding: 10px;
  background-color: lighten($base, 30%);
}

.error {
  height: 44px;
  margin-top: 80px;
  padding-right: 35px;
  padding-left: 35px;
  border-radius: 50px;
  background-color: lighten($red, 20%);
  font-family: $font-family;
  color: $white;
  font-weight: 400;
  text-transform: uppercase;

  @media (max-width: 767px) {
    float: left;
  }
}

.error-message {
  line-height: 28px;
}

@-webkit-keyframes move {
  0% {
    // transform: rotate(0deg);
    bottom: 0;
    opacity: 0;
  }
  50% {
    // transform: rotate(360deg);
    bottom: 40px;
    opacity: 1;
  }
  75% {
    // transform: rotate(360deg);
    bottom: 40px;
    opacity: 1;
  }
  100% {
    // transform: rotate(360deg);
    bottom: 0;
    opacity: 0;
  }
}

@keyframes move {
  0% {
    // transform: rotate(0deg);
    bottom: 0;
    opacity: 0;
  }
  50% {
    // transform: rotate(360deg);
    bottom: 40px;
    opacity: 1;
  }
  75% {
    // transform: rotate(360deg);
    bottom: 40px;
    opacity: 1;
  }
  100% {
    // transform: rotate(360deg);
    bottom: 0;
    opacity: 0;
  }
}

.db {
  display: block;
  -webkit-animation: move 6s;
}


// Responsive 479px

@media (max-width: 479px) {
  p {
    line-height: 36px;
  }
  .button.form-button {
    float: left;
  }
  .search {
    padding-right: 0px;
    padding-left: 0px;
  }
  .image {
    position: relative;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    margin-top: 25px;
    padding-right: 0px;
    background-color: white;
  }
  .create {
    padding-right: 20px;
    padding-left: 20px;
  }
  .white {
    padding-right: 0px;
    padding-left: 0px;
  }
  .create {
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  .pointer.left {
    display: none;
  }
  .pointer.right {
    display: none;
  }
  .option {
    margin-right: auto;
    margin-left: auto;
  }
  .option._50.left {
    display: inline-block;
    margin-left: -140px;
  }
  .option._50.right {
    display: inline-block;
    margin-top: 75px;
    margin-left: -10px;
  }
  .error {
    float: left;
  }
  .picturebox {
    height: 200px;
    margin-top: 0;
  }
  .picturee {
    width: 300px;
    margin-top: 0px;
    margin-left: -150px;
    -webkit-transform: translate(0px, 50px);
    -ms-transform: translate(0px, 50px);
    -o-transform: translate(0px, 50px);
    transform: translate(0px, 50px);
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .picturee:hover {
    -webkit-transform: translate(0px, 50px);
    -ms-transform: translate(0px, 50px);
    -o-transform: translate(0px, 50px);
    transform: translate(0px, 50px);
  }
  .picturee-2 {
    position: absolute;
    width: 300px;
    margin-left: -150px;
    -webkit-transform: translate(150px, 80px) rotate(8deg);
    -ms-transform: translate(150px, 80px) rotate(8deg);
    -o-transform: translate(150px, 80px) rotate(8deg);
    transform: translate(150px, 80px) rotate(8deg);
  }
  .picturee-2:hover {
    -webkit-transform: translate(150px, 80px) rotate(8deg);
    -ms-transform: translate(150px, 80px) rotate(8deg);
    -o-transform: translate(150px, 80px) rotate(8deg);
    transform: translate(150px, 80px) rotate(8deg);
  }
  .picturee-3 {
    width: 300px;
    margin-left: -150px;
    -webkit-transform: translate(-150px, 70px) rotate(-3deg);
    -ms-transform: translate(-150px, 70px) rotate(-3deg);
    -o-transform: translate(-150px, 70px) rotate(-3deg);
    transform: translate(-150px, 70px) rotate(-3deg);
  }
  .picturee-3:hover {
    -webkit-transform: translate(-150px, 70px) rotate(-3deg);
    -ms-transform: translate(-150px, 70px) rotate(-3deg);
    -o-transform: translate(-150px, 70px) rotate(-3deg);
    transform: translate(-150px, 70px) rotate(-3deg);
  }
}