.create {
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 120px 80px;
  background-color: #333;
  color: $white;
  text-align: center; 

  @media (max-width: 991px) {
    padding: 100px 60px;
  }

  @media (max-width: 767px) {
    padding: 50px 20px;
    text-align: left;
  }
}

.white {
  color: $white;
}

.over-picture {
  color: rgba(255, 255, 255, 0.49);
  font-style: normal;
  font-weight: 300;
}

.overview {
  display: block;
  overflow-x: hidden;
  overflow-y: hidden;
  max-width: 100%;

  @media (max-width: 767px) {
    text-align: center;
  }
}

.option {
  display: inline-block;
  margin-top: 50px;
  margin-right: 20px;
  margin-left: 20px;

  @media (max-width: 767px) {
    position: relative;
    z-index: 100;
  }

  &._50 {
    width: 150px;
    height: 150px;
    opacity: 0.5;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;

    &:hover {
      opacity: 1;
    }

    &.left {
      position: absolute;
      left: 50%;
      right: 50%;
      display: inline-block;
      margin-top: 75px;
      margin-right: 0;
      margin-left: -300px;

      @media (max-width: 767px) {
        z-index: 0;
        margin-left: -230px;

        &:hover {
          opacity: 0.5
        }
      }
    }

    &.right {
      position: absolute;
      left: 50%;
      right: 50%;
      display: inline-block;
      margin-top: 75px;
      margin-left: 150px;

       @media (max-width: 767px) {
          z-index: 0;
          margin-left: 80px;

          &:hover {
            z-index: 0;
            opacity: 0.5
          }
        }
    }
  }
}

.avatars {
  margin-top: 10px;

  @media (max-width: 767px) {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}