@import url(http://fonts.googleapis.com/css?family=Lora:700italic|Open+Sans:400,600,700,800|Montserrat:400,700|Droid+Serif:400italic|Kalam:300,400,700);

// Colours

$bg: #f2eee8;
$white: #ffffff;
$base: #6293cd;
$normal-text: #605e58;
$light-text: #c6c1b0;
$dark-text: #57575f;
$light-bg: #fffbf5;
$border: #e3dfd8;
$red: #e25440;
$orange: #F2A925;
$green: #6f9a37;

// Typography
$font-family: 'Open Sans', sans-serif;
$font-family-serif: "Lora", serif;
$font-family-alt: 'Montserrat', sans-serif; 
$font-family-mono: Inconsolata, monospace;


// Border-radius

$border-radius-base: 4px;
$border-radius-large: 6px;
$border-radius-small: 3px;