%section#create.create
  %h2.white Create parties together.
  %p.over-picture Getting together has never been this easy. Whenever you want to make a party. In a signle click you can create your own party and invite your friends to join the party.
  .overview
    %img.option._50.left{:src => "/assets/option1.png", :width => "200"}
    %img.option{:src => "/assets/option2.png", :width => "200"}
    %img.option.right._50{:src => "/assets/option3.png", :width => "200"}
  %img.avatars{:src => "/assets/obg.png", :width => "200"}