%section#create.create
  %h2.white Let the Music Play
  %p.over-picture It's time you scream and shout and let it all out - all this together with your friends with a single click of a button. Plan your party and invite your friends. We make it happen if you want it happening.
  .overview
    %img.option._50.left{:src => "/assets/option1.png", :width => "200"}
    %img.option{:src => "/assets/option2.png", :width => "200"}
    %img.option.right._50{:src => "/assets/option3.png", :width => "200"}
  %img.avatars{:src => "/assets/obg.png", :width => "200"}