%footer.footer
  %img{:src => "/assets/logo_sm.png", :width => "50"}/
  .love
    Isprito &copy 2014.
    Made with
    = succeed "\u{a0}in" do
      %span.heart â¤
    India.
  %a.footer-link{:href => "mailto:info@isprito.com?subject=Hello"} info@isprito.com