%footer.footer
  %img{:src => "#", :width => "50"}/
  .love
    Made with
    = succeed "\u{a0}in" do
      %span.heart â¤
    India
  %a.footer-link{:href => "mailto:info@isprito.com?subject=Hello"} hello@isprito.com