/Fixed Navbar Header

.navbar.navbar-isprito{role: "navigation"}
  .container
    .navbar-header
      %a.navbar-brand{href: "#"} Isprito
    
    %ul.nav.navbar-nav.navbar-right
      %li
        %a.fa.fa-facebook.social-header{href: "http://www.facebook.com/isprito", target: "_blank"}
      %li
        %a.fa.fa-twitter.social-header{href: "http://www.twitter.com/ispritoweb", target: "_blank"}