%section.search#search
	%h2.first Search places to go.
	%p.first
		Explore the world around you and find places to go with your friends. Use Isprito to find pub, clubs or popular events to attend. Just invite your friends and you're ready to go.
	.image
		%img.card{src:"/assets/card.png", width: "200"}
		%img.pointer.right{src:"/assets/card.svg"}
		%img.pointer.left{src:"/assets/card.svg"}
		%img.pointer{src:"/assets/card.svg"}