%section.search#search
	%h2.first.share-text Where's the party tonight
	%p.first
		Explore the world around you and meet people who love to jam as much as you do. With Isprito, you now get to know all the pubs, popular events, clubs and places there are in town. Just buzz your friends and bam! You're ready to go!
	.image
		%img.card{src:"/assets/card.png", width: "200"}
		%img.pointer.right{src:"/assets/card.svg"}
		%img.pointer.left{src:"/assets/card.svg"}
		%img.pointer{src:"/assets/card.svg"}