%section#share.share
  %h2.first Flash it with a Smile
  %p.first  What's a moment if it has't been captured? Create your own album with your party shots and share it with people you want to. 
  .picturebox
    %img.picturee-3{:src => "/assets/picture3.jpg", :width => "600"}
    %img.picturee-2{:src => "/assets/picture2.jpg", :width => "600"}
    %img.picturee{:src => "/assets/picture1.jpg", :width => "600"}