%section#share.share
  %h2.first Share moments.
  %p.first Create an album together and share pictures that were made during the party. Your album can also be privately shared with your friends who attended the party.
  .picturebox
    %img.picturee-3{:src => "/assets/picture3.jpg", :width => "600"}
    %img.picturee-2{:src => "/assets/picture2.jpg", :width => "600"}
    %img.picturee{:src => "/assets/picture1.jpg", :width => "600"}