%section.container-fluid#welcome
  .row.welcome#bg
    %section.welcome-text
      %img.logo{src: "/assets/logo_big.png"}
      %h1.title The Party Begins Here
      %p.desc Search, plan, share and enjoy your club life with friends.
      %a.btn.btn-invite.invite{href:"#invitation"}
        Get invited
    %section.scroll-down
      %a.fa.fa-angle-down{href:"#search"}