%section.container-fluid#welcome
	.row.welcome#bg
		%section.welcome-text
			%h1.title Introducing Isprito
			%p.desc Search, plan and share your night life with your friends.
			%a.btn.btn-invite.invite{href:"#"}
				Get an invitation